.places {
    display: flex;
    flex-wrap: wrap;
}

.places h1 {
    text-align: left;
    vertical-align: top;
    font-size: 30px;
}

.places article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #ff5a5f;
    border-radius: 4px;
}

.places .article h2 {
    font-size: 30px;
    text-align: center;
}

.places .places-title {
    display: block; /* consider removing */
}

.places .places-first-row {
    padding: 30px;
    display: flex;
    position: relative;
    height: 100%;
    width: 90%;
    text-align: center;
}

.places .places-second-row {
    display: flex;
    position: relative;
    text-align: center;
    height: 100%;
    width: 50%;
    margin: auto;
}